<main class="adminuiux-content has-sidebar" onclick="contentClick()">
	<div class="container mt-3" id="main-content">
		<div class="row gx-3 align-items-center">
			<div class="col-12 col-lg mb-3">
				<h3 class="fw-normal mb-0 text-secondary">Bienvenido,</h3>
				<h1></h1>
			</div>
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-3">
				<div class="card adminuiux-card">
					<div class="card-body">
						<p class="text-secondary small mb-2">Total Clientes</p>
						<h4 class="mb-3">{{globalService.totalClientes}}</h4>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-3">
				<div class="card adminuiux-card">
					<div class="card-body">
						<p class="text-secondary small mb-2">Total vehículos</p>
						<h4 class="mb-3">{{globalService.totalCars}}</h4>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xl-2 mb-3 d-none d-sm-block" style="cursor:pointer;"
				(click)="goToNewRecord()">
				<div class="card adminuiux-card bg-theme-1 mb-3 card-hover"> <!-- Agrega la clase aquí -->
					<div class="card-body">
						<!-- <p class="text-secondary small mb-2">Registrar nuevo cliente</p> -->
						<span class="badge badge-light text-bg-white">
							<i class="me-1 bi bi-plus"></i> Registrar
						</span>
						<h4 class="mb-3">Nuevo Cliente</h4>

					</div>
				</div>
			</div>
		</div>
		<div class="row gx-3">
			<div class="col-12 col-md-12 col-xl-4 mb-3" [hidden]="cars.length === 0">
				<div class="card adminuiux-card overflow-hidden">
					<div class="card-header">
						<div class="row gx-3 align-items-center">
							<div class="col-auto"><span
									class="avatar avatar-30 rounded-circle bg-theme-1-subtle text-theme-1"><i
										class="bi bi-search"></i></span></div>
							<div class="col px-0">
								<h6>Búsqueda de vehículo por patent</h6>
							</div>
							<div class="col-auto"><button class="btn btn-sm btn-square btn-link"><i
										class="bi bi-arrow-clockwise"></i></button></div>
						</div>
					</div>
					<div class="card-body">
						<input type="text" [(ngModel)]="searchTerm2" (ngModelChange)="filterResults()"
							placeholder="PATENTE" class="form-control" />
						<p class="text-secondary small" [hidden]="searchTerm2===''"
							*ngIf="searchTerm2 === '' || filteredResults.length === 0"
							style="cursor:pointer; padding: 15px">
							Patente no registrada<b class="text-theme-1" (click)="goToNewRecord()"
								style="cursor:pointer; padding: 15px"> Procesar registro</b>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-12 col-xl-8 mb-3" [hidden]="searchTerm2==='' || filteredResults.length === 0"
				*ngIf="searchTerm2 != ''">
				<div class="card adminuiux-card">
					<div class="row gx-3 align-items-center">
						<div class="col-12 ">
							<div class="card-header">
								<h6 class="my-1" style="font-weight: 900;"> {{ filteredResults.length }} resultados</h6>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-sm-12" style="cursor:pointer;"
										(click)="onShowDetail(result.userId)" *ngFor="let result of filteredResults">
										<div class="card mb-3 elevate">
											<div class="card-body">
												<h5 class="card-title">{{ result.name }}</h5>

												<div class="text-center">
													<span class="badge badge-light rounded-pill text-bg-theme-accent-1"
														style="font-size: 1.2rem;">
														<img src="assets/img/drive.png"
															style="width: 48px; height: 48px; margin-left: 2px;">
														<span class="text-secondary small"
															style="margin-left: 5px; margin-right: 25px; font-size: 1.7rem;">
															{{ result.patent  }}
														</span>
													</span>
												</div>
												<br>
												<div class="text-center">
													<span class="badge badge-light rounded-pill text-bg-theme-1 mb-2"
														style="font-size: 1rem;">
														<i class="bi bi-circle-info"></i> {{
														getClientDetail(result.userId)?.name | uppercase }}
													</span>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="col-12 col-sm">
							<div class="card-body">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</main>