.card-hover {
    transform: translateY(5px); /* Cambiar a 5px hacia abajo */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Hacer la sombra más oscura */
}

.card-hover:hover {
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: none; /* Ocultar la sombra al pasar el mouse */
}