<div class="col-12">
    <div class="card adminuiux-card mb-3">
        <div class="card-body">
            <div class="row gx-3 align-items-center">
                <div class="col-12 col-sm mb-3 mb-sm-0">
                    <h6 style="font-weight: 900">Hitorial de mantenciones</h6>
                </div>
                <div class="text-end mb-3">
                    <button class="btn btn-md btn-theme "style="font-weight: 900;"
                    (click)="onShowWizard()" 
                    *ngIf="isAgregarMantencionVisible(inspections$ | async)">
                        <i class="bi bi-plus me-1" ></i> Agregar Mantención
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Kilometraje</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let inspection of (inspections$ | async) ?? [] | filterInspections: (this.global.clienteDetail.cars?.[0]?.id || '')">
                                <td>{{ formatDate(inspection.date) }}</td>
                                <td>{{ inspection.mileage | number: '1.0-0' }} Km.</td>
                                <td [ngClass]="{
                                    'text-success': inspection.status === 'completada',
                                    'text-primary': inspection.status === 'pendiente'
                                }">
                                    {{ inspection.status | uppercase }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>