<div class="col-12">
    <div class="card adminuiux-card mb-3">
        <div class="card-body">
            <div class="row gx-3 align-items-center">
                <div class="col-12 col-sm mb-3 mb-sm-0">
                    <h6 style="font-weight: 900">Hitorial de mantenciones</h6>
                </div>
                <div class="text-end mb-3">
                    <button class="btn btn-sm btn-theme "style="font-weight: 900;" (click)="onShowWizard()">
                        <i class="bi bi-plus me-1" ></i> Agregar Mantención
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Kilometraje</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2023-10-01</td>
                                <td>250.000 km</td>
                                <td>Completada</td>
                            </tr>
                            <tr>
                                <td>2023-10-15</td>
                                <td>155.000 km</td>
                                <td>Completada</td>
                            </tr>
                            <tr>
                                <td>2023-11-01</td>
                                <td>160.000 km</td>
                                <td>Completada</td>
                            </tr>
                            <!-- Puedes agregar más filas según sea necesario -->
                        </tbody>
                    </table>
                </div>
                <!-- <div class="col col-sm-auto px-0"><select class="form-select form-select-sm">
                        <option selected="selected">All Trend</option>
                        <option>Bullish</option>
                        <option>Bearish</option>
                    </select></div> -->
                <!-- <div class="col-auto"><button class="btn btn-sm btn-square btn-link"><i
                            class="bi bi-arrow-clockwise"></i></button></div> -->
            </div>
           
        </div>
    </div>
</div>