		<!-- LEFT PANEL -->
		<div class="techwave_fn_leftpanel">
			
			<div class="mobile_extra_closer"></div>
			
			<!-- logo (left panel) -->
			<div class="leftpanel_logo">
				<a href="index.html" class="fn_logo">
					<span class="full_logo">
						<img src="img/logo-desktop-full.png" alt="" class="desktop_logo">
						<img src="img/logo-retina-full.png" alt="" class="retina_logo">
					</span>
					<span class="short_logo">
						<img src="img/logo-desktop-mini.png" alt="" class="desktop_logo">
						<img src="img/logo-retina-mini.png" alt="" class="retina_logo">
					</span>
				</a>
				<a href="index.html#" class="fn__closer fn__icon_button desktop_closer">
					<img src="svg/arrow.svg" alt="" class="fn__svg">
				</a>
				<a href="index.html#" class="fn__closer fn__icon_button mobile_closer">
					<img src="svg/arrow.svg" alt="" class="fn__svg">
				</a>
			</div>
			<!-- !logo (left panel) -->
			
			<!-- content (left panel) -->
			<div class="leftpanel_content">
			
				<!-- #1 navigation group -->
				<div class="nav_group">
					<h2 class="group__title">Start Here</h2>
					<ul class="group__list">
						<li>
							<a (click)="goHome()" class="fn__tooltip active menu__item" data-position="right" title="Home">
								<span class="icon"><img src="svg/home.svg" alt="" class="fn__svg"></span>
								<span class="text">Inicio</span>
							</a>
						</li>
						<li>
						
							<a (click)="globalService.setRoute('entity-01')" class="fn__tooltip menu__item" data-position="right" title="Image Generation">
							<!-- <a (click)="global.setRoute('entity-01')" class="fn__tooltip menu__item" data-position="right" title="Image Generation"> -->
								<span class="icon"><img src="svg/image.svg" alt="" class="fn__svg"></span>
								<span class="text"> Galería de obras</span>
							</a>
						</li>
					
					</ul>
				</div>
				<!-- !#1 navigation group -->
			
		
			
				<!-- #3 navigation group -->
				<div class="nav_group">
					<h2 class="group__title">Support</h2>
					<ul class="group__list">
						
						<li>
							<a (click)="goConfig()" class="fn__tooltip menu__item" data-position="right" title="Log Out">
								<span class="icon"><img src="svg/setting.svg" alt="" class="fn__svg"></span>
							
								<!-- <span class="icon"><img src="svg/logout.svg" alt="" class="fn__svg"></span> -->
								<span class="text">Ajustes de interfaz</span>
							</a>
						</li>
						<li>
							<a (click)="globalService.setRoute('login')" class="fn__tooltip menu__item" data-position="right" title="Log Out">
								<span class="icon"><img src="svg/logout.svg" alt="" class="fn__svg"></span>
								<span class="text">Salir</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- !#3 navigation group -->
				
				
			</div>
			<!-- !content (left panel) -->
			
		</div>
		<!-- !LEFT PANEL -->
		