<app-header *ngIf="globalService.activeRoute!='login'"></app-header>
<app-login *ngIf="globalService.activeRoute=='login'"></app-login>

<div class="adminuiux-wrap">
    <div class="adminuiux-sidebar" [hidden]="globalService.activeRoute=='login'">
        <div class="adminuiux-sidebar-inner">
            <div class="px-3 not-iconic mt-2">
                <div class="row gx-3">
                    <div class="col align-self-center">
                        <h6 class="fw-medium">Menú principal</h6>
                    </div>
                    <div class="col-auto"><a class="btn btn-link btn-square" data-bs-toggle="collapse"
                            data-bs-target="#usersidebarprofile" aria-expanded="false" role="button"
                            aria-controls="usersidebarprofile"><i data-feather="user"></i></a></div>
                </div>
                <div class="text-center collapse" id="usersidebarprofile">
                    <figure class="avatar avatar-100 rounded-circle coverimg my-3"><img src="assets/img/avatar.png"
                            alt=""></figure>
                </div>
            </div>
            <ul class="nav flex-column menu-active-line">
                <li class="nav-item" *ngIf="globalService.theme!='sun'">
                    <a class="nav-link" (click)="globalService.setRoute('home')" style="cursor:pointer;">
                        <img *ngIf="globalService.theme=='light'" src="assets/img/home-sun.png" alt="Icono"
                            style="width: 24px; height: 24px; margin-right: 5px;">
                        <img *ngIf="globalService.theme=='dark'" src="assets/img/home-moon.png" alt="Icono"
                            style="width: 24px; height: 24px; margin-right: 5px;">
                        <span class="menu-name">Inicio</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="globalService.theme!='sun'">
                    <a class="nav-link" (click)="globalService.setRoute('clients')" style="cursor:pointer;">
                        <img *ngIf="globalService.theme=='light'" src="assets/img/equipo.png" alt="Icono"
                            style="width: 24px; height: 24px; margin-right: 5px;">
                        <img *ngIf="globalService.theme=='dark'" src="assets/img/equipo-sun.png" alt="Icono"
                            style="width: 24px; height: 24px; margin-right: 5px;">
                        <span class="menu-name">Clientes</span>
                    </a>
                </li>
                <!-- <li class="nav-item" *ngIf="globalService.theme!='sun'">
                    <a class="nav-link" (click)="globalService.setRoute('vehicles')" style="cursor:pointer;">
                        <img *ngIf="globalService.theme=='light'" src="assets/img/car.png" alt="Icono"
                            style="width: 24px; height: 24px; margin-right: 5px;">
                        <img *ngIf="globalService.theme=='dark'" src="assets/img/car-sun.png" alt="Icono"
                            style="width: 24px; height: 24px; margin-right: 5px;">
                        <span class="menu-name">Vehiculo</span>
                    </a>
                </li> -->
            </ul>
            <div class="mt-auto"></div>
            <div class="px-3 mb-3 not-iconic">
                <h6 class="mb-3 fw-medium">Ajustes </h6>
            </div>
            <ul class="nav flex-column menu-active-line">
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="goUsers()">
                        <i class="menu-icon" data-feather="users"></i>
                        <span class="menu-name">Usuarios</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="cursor: pointer;" (click)="goconfig()" class="nav-link">
                        <i class="menu-icon" data-feather="settings"></i>
                        <span class="menu-name">Ajustes de Aplicación</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <app-users [hidden]="globalService.activeRoute!='users'"></app-users>
    <app-car-detail [hidden]="globalService.activeRoute!='car-detail'"></app-car-detail>
    <app-config [hidden]="globalService.activeRoute!='config'"></app-config>
    <app-clients [hidden]="globalService.activeRoute!='clients'"></app-clients>
    <app-new-record [hidden]="globalService.activeRoute!='new-record'"></app-new-record>
    <app-home [hidden]="globalService.activeRoute!='home'"></app-home>
    <footer class="adminuiux-footer has-adminuiux-sidebar mt-auto" [hidden]="globalService.activeRoute=='login'">
        <div class="container-fluid">
            <div class="row gx-3">
                <!-- <router-outlet /> -->
            </div>
        </div>
    </footer>
</div>
<div class="modal adminuiux-modal fade" id="maintenance" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="" style="font-size: 1.5rem">Mantencion de vehiculo</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="card adminuiux-card overflow-hidden mb-4 pt-5">
                    <div class="row gx-3 ">
                        <app-inspection-detail></app-inspection-detail>
                    </div>
            </div>
            <div class="modal-footer">
             
            </div>
        </div>
    </div>
</div>