<div class="card adminuiux-card mb-3">
    <div class="card-header">
        <div class="row gx-3 align-items-center">
            <div class="col">
                <p class="h6">Nueva Mantención</p>
            </div>
            <div class="col-auto"></div>
        </div>
    </div>
    <div class="card-body">
        <!-- <p class="text-secondary">script option <code>theme:'dots',</code></p> -->
        <div class="card border overflow-hidden mb-4" id="smartwizard2">
            <ul class="nav mt-4">
                <li class="nav-item"><a class="nav-link" href="component-smartwizard.html#step-1">
                        <div class="num">1</div>
                        <div>
                            <p class="h5 mb-0">TECNICO MECANICA</p>
                            <p class="opacity-75 small">Revision técnico mecánica </p>
                        </div>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="component-smartwizard.html#step-2">
                        <div class="num">2</div>
                        <div>
                            <p class="h5 mb-0">VISUAL</p>
                            <p class="opacity-75 small">Estado visual</p>
                        </div>
                    </a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="component-smartwizard.html#step-2">
                        <div class="num">2</div>
                        <div>
                            <p class="h5 mb-0">Location</p>
                            <p class="opacity-75 small">Guide to reach you</p>
                        </div>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="component-smartwizard.html#step-3">
                        <div class="num">3</div>
                        <div>
                            <p class="h5 mb-0">Working Hours</p>
                            <p class="opacity-75 small">Availability and Opening hours</p>
                        </div>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="component-smartwizard.html#step-4">
                        <div class="num">4</div>
                        <div>
                            <p class="h5 mb-0">Services</p>
                            <p class="opacity-75 small">Add at least 1 service</p>
                        </div>
                    </a></li> -->
            </ul>
            
            <div class="progress bg-theme-1-subtle rounded-0">
                <div class="progress-bar bg-theme-accent-l-gradient h-100 rounded-0" role="progressbar"
                    style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>